*,*::before, *:after{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    font-family: 'Courier New', Courier, monospace;

}

.container{
    max-width: 1180px;
    margin: 0px auto;
    padding: 0px 10px;
}

.header{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;
}

.header:before{
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #442d25;
    z-index: 2;
}

.header__body{
    position: relative;
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
}

.header__logo{
    flex: 0 0 150px;
    position: relative;
    z-index: 3;
}

.header__logo img{
    max-width: 100%;
}

.header__list  {
    display: flex;
    position: relative;
    z-index: 2;
}

.header__list li{
    list-style: none;
    margin: 0px 0px 0px 20px;

}

.header__link{
    color:bisque;
    text-transform:uppercase;
    font-size: 18px;
    text-decoration: none;
}

.header__burger{
    display: none;
}

.main__slaider{
    width: 100%;
    height: 80vh;
    padding: 60px 0px 0px 0px;
}

.slider {
    position: relative;
    height: 100%;
    width: 100%;
    margin: 20px 0;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2), 0 16px 20px rgba(0,0,0,0.2); 
    overflow: hidden;
}

.slider-slides {
    position: relative;
    height: 100%;
    transition: transform 0.3s cubic-bezier(0.51, 0.92, 0.24, 1);
    will-change: transform;
}

.slider-slide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    float: left;
    height: 655px;
    background-position: 50% 50%;
    background-size: cover;  
}

.slider__logo{
    text-align: center;
    color: bisque;
    font-weight: bold;
}
.slider__ocaffee{
    text-align: center;
    color: #442d25;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 50px;
    border-radius: 50px;
}

.title1{
    font-size: 120px;
}

.subtitle1{
    font-size: 50px;
}

.subtitle2{
    font-size: 30px;
}


.Nazvanie{
    text-align: center;
    color: #442d25;
    font-weight: bold;
    font-size: 35px;
    text-transform: uppercase;
}

.container_telegramm {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 30px; 
    margin: 0 auto;
    max-width: 1180px;
    border-radius: 30px;
}

#tg {
    display: flex;
    flex-direction: column;
    text-decoration: underline;
}

.label0 {
    margin-bottom: 15px;
    color: #442d25;
    font-weight: bold;
    font-size: 24px;
}

.input0,.textarea0 {
    width: 600px; 
    padding: 5px; 
    margin-bottom: 10px; 
    font-size: 18px;
}

.btn__form{
    background-color: #442d25;
    color: bisque;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px; 
    transition: transform 0.3s;
}

.btn__form:hover{
    transform: scale(1.1);
}

.slider-dots {
    display: flex;
    position: absolute;
    bottom: 20px;
    left: 20px;
    width: calc(100% - 40px);
}

.slider-dot, .slider-indicator {
    display: block;
    margin: 0 5px;
    height: 14px;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 50px;
    cursor: pointer;
}

.slider-indicator {
    position: absolute;
    background: bisque;
    width: auto;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2), 0 16px 20px rgba(0,0,0,0.2);   
}

.slider-indicator-left {
    transition: left 0.3s cubic-bezier(0.51, 0.92, 0.24, 1.15), right 0.3s 0.1s cubic-bezier(0.51, 0.92, 0.24, 1.15);
}
  
.slider-indicator-right {
    transition: left 0.3s 0.1s cubic-bezier(0.51, 0.92, 0.24, 1.15), right 0.3s cubic-bezier(0.51, 0.92, 0.24, 1.15);
}


/* ------------------------------------------ */
/* -------------- Раздел О НАС -------------- */
/* ------------------------------------------ */
.about__us {
    background-color: bisque;
    padding: 200px 0;
}

.container_razdel{
    max-width: 1180px;
    margin: 0px auto;
    padding: 0px 0px;
}

.title{
    font-size: 44px;
    font-weight: bold;
    color: #442d25;
    text-align: center;
    padding-bottom: 20px;
}

.about__subtitle{
    font-size: 24px;
    font-weight: bold;
    color: #442d25;
    padding-bottom: 10px;
}

.about__text{
    font-size: 24px;
    color: #442d25;
    padding-bottom: 20px;
}

.about__container{
    display: flex;
    justify-content: space-between;
}

.first_about__container{
    flex:1;
}

.second_about__container{
    flex:1;
}

.about__aligment{
    text-align: center;
    padding: 30px 0px 30px 0px;
}

.about__image{
    display: inline-block;
    width: 500px;
    height: 500px;
    align-items: center;
    border-radius: 50px;
    border: 5px solid #442d25;
}

/* ----------------------------------------------------------------- */
/* -------------- ОТОБРАЖЕНИЕ НА ЭКРАНАХ МЕНЬШЕ 820px -------------- */
/* ----------------------------------------------------------------- */
@media (max-width:820px){
    .body.lock{
        overflow: hidden;
    }

    .header__body{
        height: 50px;
    }

    .header__logo{
        flex: 0 0 110px
    }

    .header__burger{
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
        position: relative;
        z-index: 3;
    }

    .header__burger span{
        position: absolute;
        background-color: bisque;
        left:0;
        width: 100%;
        height: 2px;
        top:9px;
        transition: all 0.3s ease 0s;
    }

    .header__burger:before, .header__burger:after{
        content: '';
        background-color: bisque;
        position: absolute;
        width: 100%;
        height: 2px;
        left:0;
        transition: all 0.3s ease 0s;
    }
    .header__burger:before{
        top: 0;
    }
    .header__burger:after{
        bottom: 0;
    }

    .header__burger.active:before{
        transform: rotate(45deg);
        top: 9px;
    }

    .header__burger.active:after{
        transform: rotate(-45deg);
        bottom: 9px;
    }
    .header__burger.active span{
        transform: scale(0);
    }

    .header__menu{
        position: fixed;
        top:-100%;
        left:0;
        width: 100%;
        height: 100%;
        background-color:#554039;
        padding: 70px 10px 20px 10px;
        transition: all 0.3s ease 0s;
        overflow: auto;

    }

    .header__menu.active{
        top:0;
    }

    .header__list{
        display: block;
    }

    .header__list li{
        margin: 0px 0px 20px 0px;
    }
    .main__slaider{
        width: 100%;
        height: 80vh;
        padding: 30px 0px 0px 0px;
    }

    .slider__logo{
        text-align: center;
        color: bisque;
        font-weight: bold;
    }
    
    .title{
        font-size: 34px;
        padding-top: 20px ;
    }
    
    .subtitle{
        font-size: 40px;
    }
    .container_telegramm{
        max-width: 290x;
    }
    .label0 {
        color: #442d25;
        font-weight: bold;
        font-size: 24px;
    }
    
    .input0,.textarea0 {
        width: 300px; 
        padding: 5px; 
        font-size: 18px;
    }
    
    .btn__form{
        background-color: #442d25;
        color: bisque;
        border: none;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 14px;
        margin: 4px 2px;
        cursor: pointer;
        border-radius: 5px; 
        transition: transform 0.3s;
    }
    
    .btn__form:hover{
        transform: scale(1.1);
    }

    .about__container {
        flex-direction: column;
        align-items: center;
    }

    .first_about__container,
    .second_about__container {
        width: 100%;
    }

    .about__image {
        width: 80%;
        height: auto;
    }
}
